.box{
    border: 1px solid grey;
    width: 15em;
    height: auto;
    text-align: center;
    border-radius: 1em;
    box-shadow: 3px 3px grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    background-color: beige;
    
    
}
.heading{
    font-size: 5em;
}
body{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: bisque;
}

button{
    font-size: 1.2em;
    border-radius: 1em;
    background-color:rgb(184, 184, 206);
    cursor: pointer;
}
.input{
    border-radius: 1em;
}
button:hover{
    background-color: burlywood;
}